li {
  margin-bottom: 10px;
}

body {
  font-family: "Nunito", sans-serif;
}

.delete-button {
  color: white;
  background-color: red;
  border-radius: 5px;
  padding: 8px 32px;
}

.dropdown-content {
  transition: max-height 3s ease-out;
}
